<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Add Reimbursement</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/static/css/font.css">
  <link rel="stylesheet" href="/static/css/xadmin.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
  <script type="text/javascript" src="/static/js/xadmin.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
  <style>
    .layui-form {
      padding: 20px 50px;
    }

    #draggableHelper {
      width: 250px;
      height: 350px;
      padding: 0.5em;
    }

    img {
      width: 560px;
      height: 720px;
      max-width: 750px
    }
  </style>
</head>

<body>
<!--<div class="layui-row">-->

<!--  <div class="layui-col-xs6 layui-col-md4">-->

    <form class="layui-form layui-form-pane">
      <div class="layui-form-item">
        <label class="layui-form-label">UserId</label>
        <div class="layui-input-block">
          <input type="text" name="userid" lay-verify="required" autocomplete="off"
                 class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-form-item" lay-filter="bill-form">
        <label class="layui-form-label">Title</label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="required" placeholder="Please input title"
                 autocomplete="off" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Money</label>
        <div class="layui-input-block">
          <input type="text" name="money" lay-verify="required|number"
                 placeholder="Please input money" autocomplete="off" class="layui-input"
                 disabled="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Type</label>
        <div class="layui-input-block">
          <input type="text" name="remark" placeholder="Please fill type" autocomplete="off"
                 class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Pay way</label>
        <div class="layui-input-inline">
          <select name="paywayid" autocomplete="off" disabled="" id="paywayid">
            <option value="-1">Pay way</option>
            <option value="1">Paypal</option>
            <option value="2">Cash</option>
            <option value="3">Debit</option>
            <option value="4">Venmo</option>
            <option value="5">Others</option>
          </select>
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">Receiver</label>
        <div class="layui-input-block">
          <input type="text" name="receiveraccount" placeholder="Please fill receiver account"
                 autocomplete="off" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-form-item" lay-filter="bill-form">
        <label class="layui-form-label">Status</label>
        <div class="layui-input-inline">
          <select id="typeid" autocomplete="off">
            <option>Status</option>
            <option value="1">MISSING INFO</option>
            <option value="2">DENIED</option>
            <option value="3">APPROVED</option>
          </select>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">Vendor Name</label>
        <div class="layui-input-block">
          <input type="text" name="vendorname" placeholder="Please fill vendor name"
                 autocomplete="off" class="layui-input" id = "vendorname">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">Vendor Address</label>
        <div class="layui-input-block">
          <input type="text" name="vendoraddress" placeholder="Please fill vendor address"
                 autocomplete="off" class="layui-input" id = "vendoraddress">
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">Invoice Due Date</label>
        <div class="layui-input-block">
          <input type="text" name="duedate" placeholder="Please fill due date"
                 autocomplete="off" class="layui-input" id = "duedate">
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 0;">
            <textarea name="comments" placeholder="Comments？" class="layui-textarea"
                      autocomplete="off"
                      id="comments"></textarea>
        </div>
      </div>
      <div class="layui-form-item">
        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="review"
                style="display:none;">Review
        </button>
      </div>
      <div class="layui-form-item">
        <img id="reviewImage" src=""/>
      </div>
    </form>


<script>

  // getAllPayways();
  var url = location.href;
  if (url.indexOf("#2") != -1) {
    $("button[lay-filter=review]").css("display", "block");
    var index = getQueryString("index");
    initForm(parent.document.getElementsByTagName("tr")[index]);
  } else {
    if (url.indexOf("#3") != -1) {
      initForm();
    }
    $("button[lay-filter=add]").css("display", "block");
  }

  layui.use(['form', 'layer'], function () {
    $ = layui.jquery;
    var form = layui.form
        , layer = layui.layer;

    form.on('submit(add)', function (data) {
      // console.log(data);
      $.post("/reirequest/addRequest", data.field, function (res) {
        if (res.code == 200) {
          layer.confirm("Apply Reimbursement Successfully", {
            btn: ['Yes', 'No'],
            title: false,
            closeBtn: false,
            skin: 'layui-layer-molv',
            btn: ["Add more", "cancel"]
          }, function (layno) {
            layer.close(layno);
            $("#resetForm").click();
          }, function () {
            layer.msg(res.msg, {time: 1000}, function () {
              x_admin_close();
              if (parent.location.href.indexOf("details.html") != -1) {
                parent.getReiRequests();
              } else {
                parent.document.getElementById("home").src = "welcome";
              }
            });
          });
        } else {
          layer.msg(res.msg)
        }
      })
      return false;
    });

    form.on('submit(review)', function (data) {
      console.log(data);
      layer.confirm("Are you sure to submit review",
          {btn: ['Yes', 'No'], title: false, closeBtn: false, skin: 'layui-layer-molv'},
          function (layno) {
            layer.close(layno);
            var options = $("#typeid").val();
            var tr = parent.document.getElementsByTagName("tr")[index];
            // var userid =  $("input[name=userid]").val($(tr).find(":nth-child(2)").html());
            //now the userid is in 0, 1 index get value from it
            var userid = tr.cells[2].innerHTML;
            var reimid = tr.cells[3].innerHTML;
            var comments = document.getElementById("comments").value;
            $.post(
                "/reirequest/review" + "/" + options + "/" + userid + "/" + reimid + "/" + comments,
                data.field, function (res) {
                  if (res.code == 200) {
                    layer.msg(res.msg, {time: 1000}, function () {
                      x_admin_close();
                      parent.getReiRequests();
                    });
                  } else {
                    layer.msg(res.msg)
                  }
                });
          });
      return false;
    });
  });
  $(function () {
    var draggableHelper = document.getElementById("draggableHelper");
    $('#draggableHelper').draggable();
    $('#reviewImage').resizable();
    // draggableHelper.style.width = ($(window).width() * 0.6) + 'px';
    // draggableHelper.style.height = $(window).height() + 'px';

  });

  function initForm(tr) {
    // // console.log(tr);
    // if (tr==undefined){
    //     $("input[name=title]").val("");
    //     var date = new Date();
    //     var dateStr = date.getFullYear()+""+(date.getMonth()+1)+"";
    //     $("textarea[name=remark]").val(dateStr+"");
    //     return;
    // }else {
    $("input[name=userid]").val($(tr).find(":nth-child(3)").html());
    $("input[name=title]").val($(tr).find(":nth-child(2)").html());
    $("input[name=money]").val($(tr).find(":nth-child(6)").html());
    $("input[name=remark]").val($(tr).find(":nth-child(7)").html());
    $("input[name=receiveraccount]").val($(tr).find(":nth-child(10)").html());
    document.getElementById("comments").innerHTML = $(tr).find(":nth-child(13)").html();
    console.log("comments" + $(tr).find(":nth-child(13)").html());
    $("input[name=typeid]").val($(tr).find(":nth-child(12)").html());
    document.getElementById('paywayid').value = $(tr).find(":nth-child(8)").html();
    // $("textarea[name=remark]").val($(tr).find(":nth-child(9)").html());
    // $("input[name=id]").val($(tr).find(":nth-child(9)").html());
    // var tr = parent.document.getElementsByTagName("tr")[index];
    var requestId = tr.cells[3].innerHTML;
    document.getElementById("vendorname").value = $(tr).find(":nth-child(14)").html();
    document.getElementById("vendoraddress").value = $(tr).find(":nth-child(15)").html();
    document.getElementById("duedate").value = $(tr).find(":nth-child(16)").html();
    document.getElementById("reviewImage").src = "/reirequest/" + requestId + "/image";
    // document.getElementById("draggableHelper").style.width = document.getElementById("reviewImage").style.width;
    // document.getElementById("draggableHelper").style.height = document.getElementById("reviewImage").style.height;

    // }
  }
</script>
</body>

</html>