<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Statistical Report</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">Homepage</a>
        <a href="">statistical report</a>
        <a>
          <cite>statistical report</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.reload();" title="refresh">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="start date" id="start" autocomplete="off">
            <input class="layui-input" placeholder="end date" id="end" autocomplete="off">
            <input type="text" placeholder="real name" id="realname" autocomplete="off" class="layui-input">
            <input type="text" placeholder="title" id="title" autocomplete="off" class="layui-input">
            <div class="layui-input-inline">
                <select id="paywayid">
                    <option value="-1">choose payway</option>
                </select>
            </div>
            <button class="layui-btn" type="button" lay-submit="" lay-filter="sreach" onclick="getReiRequests()">
                <i class="layui-icon">&#xe615;</i>search
            </button>
            <button class="layui-btn layui-btn-primary" type="reset">
                <i class="layui-icon">&#xe640;</i>reset
            </button>
        </form>
    </div>
    <fieldset class="layui-elem-field" style="height: 1000px; ">
        <div id="chart1" class="layui-col-md6 layui-col-sm12" style="height: 400px;"></div>
        <div id="chart11" class="layui-col-md6 layui-col-sm12" style="height: 400px;"></div>
<!--        <div id="chart2" style="height: 600px;"></div>-->
    </fieldset>
</div>

<script>
    // getAllPayways();
    mPageSize = 10000;
    $(function () {
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //execute a laydate instance
            laydate.render({
                elem: '#start',
                max: 0
            });
            laydate.render({
                elem: '#end',
                max: 0
            });
        });
        initChart();
        getReiRequests();
    });

    function getReiRequests() {
        // var date = new Date();
        // date.setDate(1);
        // $("#start").val()==""? $("#start").val(date.toLocaleDateString().replace(/\//g,'-')) : {};
        // $("#end").val()==""? $("#end").val(new Date().toLocaleDateString().replace(/\//g,'-')) : {};

        // console.log(daysBetween($("#end").val(),$("#start").val()));
        paywayid = $("#paywayid").val();
        var reimbursement = {
            "startTime": $("#start").val(),
            "endTime": $("#end").val(),
            "realname": $("#realname").val(),
            "title": $("#title").val(),
            "paywayid": paywayid == -1 ? null : paywayid,
        };
        // console.log(reimbursement)
        // Asynchronously loading
        $.post('/reirequest/getReiRequestByNoPage', reimbursement, function (res) {
            console.log(res)
            if (res.code == 200){

                    setChart1(res.datas);
                    setChart11(res.datas);
                    setChart2(res.datas);

            } else {
                myChart1.hideLoading();
                myChart11.hideLoading();
                myChart2.hideLoading();
            }

        });
    }

    function initChart() {
        // initia chart
        myChart1 = echarts.init(document.getElementById('chart1'));
        // myChart11 = echarts.init(document.getElementById('chart11'));
        myChart11 = echarts.init(document.getElementById('chart11'));
        // myChart2 = echarts.init(document.getElementById('chart2'));
        // configuration
        myChart1.setOption({
            title : {
                text: 'inflight - transferred this month',
                x: 'center',
                y: 'bottom',
            },
            tooltip : {
                trigger: 'item',
                formatter: "{b} : {c}$ ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: '10%',
                top: '10%',
                // align: 'left',
                data:['income', 'outcome'],
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            color: [ '#ff9f7b', '#2fa1dd'],
            series : [
                {
                    name:'income-outcome this month',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:[],
                    label: {
                        position: 'inside',
                        formatter: '{b} \n\n {d}%',
                        fontSie: '40',
                        fontWeight: 'bold',
                    },
                    labelLine: {
                        normal: {
                            lineStyle: {
                                color: '#000'
                            },
                            smooth: 0.2,
                            length: 10,
                            length2: 20,
                        }
                    },
                    itemStyle: {
                        normal: {
                            shadowBlur: 100,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        });
        myChart1.showLoading();
        myChart11.setOption({
            title : {
                text: 'payway',
                x: 'center',
                y: 'bottom',
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                data: ['cash', 'online app(paypal)', 'debit card', 'credit card', 'others']
            },
            yAxis: {
                type: 'value'
            },
            tooltip : {
                trigger: 'item',
                axisPointer:{
                    type: 'shadow',
                },
            },
            series: [{
                data: [],
                type: 'bar',
                barWidth: '40',
                label: {
                    show: true,
                    // position: 'inside',
                    color: '#FFFFFF',
                    distance: 20
                },
                itemStyle: {
                    barBorderRadius: [5, 5, 5, 5],
                    color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
                        {color: '#2FAEF2', offset: 0},
                        {color: '#1CD8A8', offset: 1}
                    ]),
                },
            },{
                data: [],
                type: 'line',
                smooth: true,
                symbol: 'circle',
                showSymbol: true,
                itemStyle: {
                    color: ['#1CD8A8']
                },
                symbolSize: 8,
                lineStyle: {
                    width: 2,
                    color:  new echarts.graphic.LinearGradient(0, 0, 1, 0, [{offset: 0, color: '#2FAEF2'},{offset: 1, color: '#1CD8A8'}])
                },
            }]
        });
        myChart11.showLoading();
        // myChart2.setOption({
        //     title : {
        //         text: 'income-outcome comparison',
        //         x: 'center',
        //         y: 'bottom'
        //     },
        //     tooltip: {
        //         trigger: 'axis'
        //     },
        //     legend: {
        //         data:['income','outcome','net income'],
        //         right: '5%',
        //         top: 10,
        //     },
        //     // dataZoom: [
        //     //     {
        //     //         type: 'inside',
        //     //         start: 60,
        //     //         end: 70
        //     //     }
        //     // ],
        //     grid: {
        //         left: '3%',
        //         right: '4%',
        //         bottom: '3%',
        //         containLabel: true
        //     },
        //     toolbox: {
        //         feature: {
        //             saveAsImage: {},
        //         }
        //     },
        //     xAxis: {
        //         type: 'category',
        //         boundaryGap: false,
        //         data: []
        //     },
        //     yAxis: {
        //         type: 'value'
        //     },
        //     series: [
        //         {
        //             name:'income',
        //             type:'bar',
        //             itemStyle: {
        //                 barBorderRadius: [5, 5, 5, 5],
        //                 color: "#ed9473",
        //             },
        //             data:[],
        //         },
        //         {
        //             name:'outcome',
        //             type:'bar',
        //             itemStyle: {
        //                 barBorderRadius: [5, 5, 5, 5],
        //                 color: "#2fa1dd"
        //             },
        //             data:[]
        //         },
        //         {
        //             name:'net income',
        //             type:'line',
        //             areaStyle: {},
        //             itemStyle: {
        //                 barBorderRadius: [5, 5, 5, 5],
        //                 color: new echarts.graphic.LinearGradient(0, 1, 0, 0, [
        //                     {color: '#e0dec6', offset: 0},
        //                     {color: '#a1a1dc', offset: 1}
        //                 ]),
        //             },
        //             smooth: true,
        //             data:[]
        //         }
        //     ],
        //     animationDuration: function (idx) {
        //         return idx * 300;
        //     }
        // });
        // myChart2.showLoading();
    }

    function setChart1(datas){
        var inflightSum = 0;
        var transferredSum = 0;
        $.each(datas,function (index,item) {
            if(item.typeid === "APPROVED"){
                transferredSum += parseFloat(item.money);
            }else{
                inflightSum += parseFloat(item.money);
            }
        });
        myChart1.hideLoading();
        myChart1.setOption({
            series: [{
                name: 'inflight - transferred this month',
                data: [
                    {value:inflightSum.toFixed(2), name:'inflight', selected: true},
                    {value:transferredSum.toFixed(2), name:'transferred'}
                ]
            }]
        });
    }

    function setChart11(datas) {
        var money = [0,0,0,0,0];
        $.each(datas,function (index,item) {
            for (var i = 0; i < 5; i++) {
                if (item.paywayid==(i+1)){
                    if (item.typeid == 1){
                        money[i] -= item.money;
                    }else if(item.typeid == 2){
                        money[i] += item.money;
                    }
                }
            }
        });
        myChart11.hideLoading();
        myChart11.setOption({
            series: [{
                data: money,
            },{
                data: money
            }]
        });
    }

    function setChart2(datas) {
        var x = [], payVal = new Array(30), incomeVal = new Array(30), netIncomeVal = new Array(30);
        var start = new Date($("#start").val());
        var end = new Date($("#end").val());
        var between = daysBetween(end,start);
        for (var i = 0; i<= between; i++){
            payVal[i]=0; incomeVal[i]=0, netIncomeVal[i]=0;
            var dateStr = dateAdd(start,i);
            x.push(dateStr);
            var incomeSum=0, paySum = 0, netIncomeSum = 0;
            $.each(datas,function (index,item) {
                if(item.time.split(" ")[0] == dateStr){
                    if (item.typeid == 1) {
                        paySum += parseFloat(item.money);
                    } else if (item.typeid == 2) {
                        incomeSum += parseFloat(item.money);
                    }
                }
            });
            netIncomeSum += incomeSum - paySum;
            payVal[i] = paySum;
            incomeVal[i] = incomeSum;
            netIncomeVal[i] = netIncomeSum;
        }
        // console.log(payVal);
        // console.log(incomeVal);
        myChart2.hideLoading();
        myChart2.setOption({
            xAxis: {
                data: x
            },
            series: [
                //
                {
                    name:'outcome',
                    data: payVal
                },
                {
                    name:'income',
                    data: incomeVal
                },
                {
                    name:'new income',
                    data: netIncomeVal
                }
            ]
        });
    }

</script>

